.card {
    height: 550px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
    box-shadow: 5px 5px gray;

}

.card:hover {
    box-shadow: 5px 5px yellow;
}

/* .card .card-img-top{
 
    width: 350px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
} */
.container-fluid {
    overflow: hidden;

}

/* .col-sm-2{
    
    background-color: black;
} */